
.content {
	width:600px;
}

.panel {
	border-style:none;
}


.results {
	font-size: 36px;
	font-weight:bold;
	color: #303030;
}

.dropdown {
	margin-bottom: 50px;
}

.inline-block {
	display: inline-block;
}

.center {
	width: 90%;
	margin: 0 auto 30px;
}
.panel-heading {
	background: #45aaca;
	border-top-left-radius: 5px 10px;
	border-top-right-radius: 5px 10px;
}
.content-body{
	background: #EEE;
	padding: 30px;
}

th{
	padding: 12px 12px 0px 0px !important;
	text-align: center;
}
td {
	font-size:12px;
	//text-align: center;
	padding-left: 80px !important;
}


#error {
	display: none;
}
